.userloginInput {
  position: absolute;
  top: 300px;
  font-size: 40px;
  line-height: 40px;
}
.userloginInputBorder {
  position: relative;
  margin-left: 20px;
  width: 100%;
  margin-bottom: 20px;
}