.principalApproveOKBox {
  margin-left: 50px;
}

.principalApproveOKTop {
  margin-top: 50px;
}

.principalApproveOK {
  height: 42px;
  font-size: 30px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(169, 169, 169, 1);
  line-height: 42px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.principalApproveOKImage {
  margin: 0 auto;
  width: 200px;
  height: 300px;
}