.categoryCard {
  display: inline-block;
  position: relative;
  // flex-wrap: wrap;
  width: 196px;
  height: 320px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(245, 245, 245, 1);
  position: relative;

  .categoryCardImage {
    margin: 14px 16px 16px;
    width: 164px;
    height: 226px;
  }

  .categoryCardName {
    margin: 0px 24px 20px 24px;
    width: 152px;
    height: 40px;
    font-size: 28px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(34, 32, 32, 1);
    line-height: 40px;
  }
}